@use '../../styles/base' as *;

.#{$prefix-cls}-setting-modal-content {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 14px;
  column-gap: 32px;
  align-items: center;
  font-size: 13px;
  padding: 4px 0;
}
