@import (reference) '../../styles/base.less';

.@{prefix-cls}-button {
  &.button {
    font-family: inherit;
    font-weight: 600;
    height: 32px;
    min-width: 80px;
    border-radius: 5px;
    font-size: 12px;
    transition: opacity 0.12s, background-color 0.12s;
    // Confirm button hover
    &.is-primary:hover {
      opacity: 0.85;
    }
  }
}
